.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preview {
  position: relative;
  margin: 0 auto;
}

.image {
  max-height: 200px;
  border-radius: 10px;
  object-fit: contain;
}

.clear {
  position: absolute;
  top: -8px;
  right: -20px;
  background: var(--primary);

  &:hover {
    background: rgb(from var(--primary) r g b / 80%);
  }

  &:active {
    background: rgb(from var(--primary) r g b / 60%);
  }
}
