.root {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: auto;

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

.description {
  flex-direction: column;
}

.rating {
  align-items: center;
}

.ratingValue {
  padding: 5px 9px;
  font-size: 0.8rem;
}