.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      padding-inline-end: 14px;
    }
  }
}
