.root {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .image {
      transform: scale(1.4);
    }
  }
}

.wrapper {
  height: 450px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: auto;

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}