.root {
  padding: 2px 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--text);
  font-size: 0.9rem;
  white-space: nowrap;
  background-color: var(--accent);
  border-bottom: 2px solid var(--secondary);
  border-radius: 6px;
}

.large {
  padding: 5px 10px;
  font-size: 1.1rem;
  border-width: 4px;
  border-radius: 10px;
}
