.root {
  max-height: 200px;
  background: var(--text);
  border: 2px solid var(--secondary);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.item{
  padding: 10px;
  display: block;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid var(--secondary);
  }
}